.main-products{
  background-color: #f5f5dc;
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(../../pictures/minimal-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product-section{
  display: grid;
  
  column-gap: 4vmax;
  padding: 3vmax 0;

  grid-template-columns: 1fr 1fr;
}
.fire-Hoses, .fittings{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-article{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  border-bottom: 0.3vmax solid #a5233d;
  border-radius: 0.5vmax;
  overflow: hidden;
  position: relative;
}
.big-pic{
  display: flex;
  background: linear-gradient(0deg, #27213cce, #f5f5dcce, #a5233ddd);
}
.product-article>h2{
  font-size: 1.5vmax ;
  margin: 0.4vmax 0 0.4vmax 0.2vmax;
  color: #27213c;
}
.small-pic{
  display: flex;
  flex-direction: column;
  
}

.spic-1{
  background-color: #27213cc8;
  margin:1vmax 0 1vmax 0 ;
}
.product-btn{
  position: absolute; 
  bottom: 0.4vmax; 
  right: -6vmax; 
  font-size: 1vmax; 
  padding: 0.3vmax 1vmax; 
  border: none; 
  background-color: #a5233dd7; 
  color: #f5f5dc; 
  border-radius: 0.2vmax;  
  transition-duration: 0.5s;
  text-decoration: none;
}
.product-article:hover .product-btn{
  right: 0.3vmax;
  transition-duration: 0.5s;
}